<template name="hello">
  <button>Click Me</button>
<p>You've pressed the button {{counter}} times</p>
</template>

<template name="header">
    <header>
        <h1>My ToDo List!</h1>
    </header>
</template>


<!--<template name="header">
    <header>
        <h1>My ToDo List!</h1>
    </header>    
</template>